<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<header class="header">
  <nav class="top" class="menu">
    <ul class="nav-list">
      <li class="nav-item ">
        <a  href="#" >Hemagon</a>
      </li>
      <li class="nav-item ">
        <a class="menu__link" aria-current="page" routerLink="tournament" text="Турнир">Турнир</a>
      </li>
      <li class="nav-item">
        <a class="menu__link" routerLink="people-form" text="Участники">Участники</a>
      </li>
      <li class="nav-item">
        <a class="menu__link" routerLink="judges-form" text="Судьи">Судьи</a>
      </li>
      <li class="nav-item ">
        <a class="menu__link" aria-current="page" routerLink="login" text="Вход">Вход</a>
      </li>
    </ul>
  </nav>
</header>
<main class="main">
  <div class="top" >
    <h1>Tournament</h1>
    <h3>fencing</h3>
  </div>
</main>
</body>
</html>
