@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body{


}
.main {
  margin-top: 100px;
  padding: 10px;

}

.container{
  position: relative;
  height: 100%;
  .score-board {
    display: flex;
    &__color{
      color: white;
    }
    &__score{
      font-size: 90px;
      color:white;
    }
    &__name{
      color:white;
      padding: 0px;
    }
  }

  .button-bar {
    display: flex;
    justify-content: space-around;
    background: grey;
    min-height: 20px;
  }

  .button{
    border: 2px solid black;
    text-decoration: none;
    border-radius: 30px;
    opacity: 60%;
    background-color: #d39e00;
    transform-origin: top;
    transition: 0.5s;
    color: white;
  }
  &__left{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    min-height:200px;
    background: rgb(249,84,95);
    background: -moz-linear-gradient(top,  rgba(249,84,95,1) 0%, rgba(255,26,0,1) 50%, rgba(252,98,116,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(249,84,95,1) 0%,rgba(255,26,0,1) 50%,rgba(252,98,116,1) 100%);
    background: linear-gradient(to bottom,  rgba(249,84,95,1) 0%,rgba(255,26,0,1) 50%,rgba(252,98,116,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9545f', endColorstr='#fc6274',GradientType=0 );
    justify-content: space-around ;
  }
  &__right{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    background: rgb(208,228,247);
    background: -moz-linear-gradient(top,  rgba(208,228,247,1) 0%, rgba(115,177,231,1) 24%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
    background: linear-gradient(to bottom,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 );
    justify-content: space-around;
  }
  &__absolutetime{

    position: relative;
    height:100%;
    width:100%;
  }


}

.circle{
  padding-right: 2.6%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  &__circle1{
    margin-top: 1%;
    margin-left:auto ;
    margin-right: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: yellow;
    box-shadow: 0px 2px 8px 2px;
  }

}

.time {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  &__timer {
    font-size: 25px;
    background: white;
  }

}


