@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body {
}
// Block header

.header {
  position: fixed;
  width: 100%;
  z-index: 5000;
}
.menu {
  .body{
    font-family: 'Montserrat', sans-serif;
    background: gray;
  }
  .nav-item{
    list-style: none;
    margin-right: 2rem;
  }
  .nav-item a{
    text-decoration: none;
    color:black
  }
  .nav-item:first-child{
    margin-right: auto;
    margin-left: 2rem;
  }
  .nav-list{
    padding-left: 0;
    height: 50px;
    background: white;
    box-shadow: 0 0 10px black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__link {
    display: block;
    height: 50px;
    width: 100px;
    text-align : center;
    line-height: 50px ;
    color:inherit;
    text-decoration: none;
    position: relative;
    &:before{
      content: attr(text);
      display:block;
      border-radius: 5%;
      position:absolute;
      top:0px;left:0px;right:0px;bottom:0px;
      height: 100%;
      width: 100%;
      background-color:#bb0d283d;
      transform: rotateX(-270deg);
      transform-origin: top;
      transition: 0.5s;
      color:white;
    }

    &:hover:before {
      transform:rotateX(0deg);

    }
  }
}

@media (max-width:700px) {
  .nav-item{
    width: 10%;
    margin-right: 25% ;
  }

}


// Block main
main {

  #top {
    width: 100%;
    height: 100vh;
    background-color: #bb0d283d;
    background-blend-mode: multiply;
    background-size: cover;
    background-image: url("../img/bg_4.png") ;
    text-align: center;
  }

  #top h1 {
    padding-top: 20%;
  }
}
// Block footer
.footer {
  .sidebar{
    padding: 50px 10%;
    box-shadow: 0px 0px 10px;
  }

  .sidebar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }

  .sidebar ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
  }

  .sidebar ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  .sidebar ul li:hover::after {
    width: 100%;
  }

}

.form-adding{
  position: absolute;
  border: 2px solid black;
  border-radius: 25px;
  width: 600px;
  height: 450px;
  top: 15%;
  left: 30%;
  text-align: center;
}