@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body{
  background: white;
}
.form{
  margin-top: 0;
  background:#1a00c30f ;
  box-shadow: 0px 0px 10px black;
  width: 30%;
  border-radius: 2px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.h1-for-judges{
  font-size: 35px;
  text-decoration: none;
  text-shadow: 2px 2px 15px black;
  font-family: 'Montserrat', sans-serif;
  color: black;
  margin-top: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}


.forget {
  text-shadow: 2px 2px 5px black;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  width: 50%;
  color: #1b1e21;
  font-size:15px;
}

.input-wrapper{
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: #000000 -5px -5px 11px;
  border-radius: 10px;
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;

}

.input-wrapper input{
  background: transparent;
  border:none;
  width: 100%;
  height: 100%;
  text-indent: 20px;
  color:black;
  font-size: 14px;
  outline:0;
}

.input-icon{
  width: 20px;
  margin-right: 20px;
  border-radius: 50px;
  padding: 3px 6px;
  cursor: pointer;
  transition: all .4s ease;
}

.input-icon .selected{
  background-color:black;
}

.input-icon img{
  max-width: 100%;
}

::-webkit-input-placeholder {
  color: #B2BECD;
}

.input-wrapper-enter{
  margin-top: 45%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: #000000 -2px -2px 10px;
  border-radius: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  background: rgb(179,0,224);
  background: -moz-linear-gradient(top,  rgba(179,0,224,1) 0%, rgba(2,37,234,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(179,0,224,1) 0%,rgba(2,37,234,1) 100%);
  background: linear-gradient(to bottom,  rgba(179,0,224,1) 0%,rgba(2,37,234,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b300e0', endColorstr='#0225ea',GradientType=0 );
}

.enter{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}