body {
    background: #F5F5DC;
}

// Common
.container_shadow{
    box-shadow: 8px 0px 14px #afa6a6ab;
    border-radius: 5px;
    min-height: 144px;
}

// Block header
.header {
    padding: 10px;
}
.logo {
    display: inline;
    &__link {
        font-size: 20px;
        color: black;
        transition: all 0.3s linear;
        text-shadow: 4px 4px 8px black;
    }
    &__link:hover {
        color: black;
        text-decoration: none;
        text-shadow: 4px 4px 4px black;
    }
}
.menu {
    &__list {
        &_to-line{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            padding-top: 10px;
        }
    }
    &__item {
        list-style: none;
        margin: 10px;
    }
    &__link {
        color: black;
        text-decoration: none;
        transition: all 0.4s linear;
        &:hover {
            color: black;
            text-shadow: 1px 1px 5px #000;
            text-decoration: none;
        }
    }
}


// Block main
.main {
    padding: 10px;
}
.article {
    text-align: center;
    &__title {
        color: black;
        font-size: 22px;
        transition: all 0.4s linear;
        &:hover {
            color: black;
            text-shadow: 1px 1px 5px #000;
        }
    }
}

// Block footer
.footer {
    padding: 10px;
    &__copyright {
        display: block;
        text-align: center;
        margin: auto;
        transition: all 0.4s linear;
        &:hover {
            transform: rotateZ(360deg);
        }
    }
}
// Menu up
.menu__link  {
    color: #2a3b;
}

.menu__item {
    width: 80px ;
    margin: 35px auto 0 auto;
    height: 20px;

}

.row {
    background: #3a38;
}

.article__title {
    background: #3a38 ;
    width: 1100px ;
    margin: 2px auto 80px auto;
    height: 50px;
}
.article__title1 {
    background:  #3a38;
    width: 1100px ;
    margin: 2px auto 100px auto;
    height: 50px;

}

footer {
    width: 1200px ;
    margin: 1px auto 30px auto;
    height: 54px;
}

.sidebar {
    float: right;
    width: 220px;
    padding: 5%;
    margin: 0 0 16px 0;
    border-radius: 5px;
}

.form {
    position: absolute;
    top: 40%;
    left: 40%;
    background: #3a38;
    text-align: center;
}

.input-form {
    margin: 15px 40px;
    text-align: center;
}

.input-form input{
    padding: 10px ;
    width: 50%;
    color: #808080;
    font-size:20px;
    border: 3px solid #171a1d;
}

.forget {
    padding: 10px ;
    width: 50%;
    color: #808080;
    font-size:20px;

}

.img {

}