body {
   background: url('../img/VY2PW7ylWjM.jpg') ;

}

// Common
.container_shadow{
    box-shadow: 8px 0px 14px #a71d2a;
    border-radius: 5px;
    min-height: 164px;
}

// Block header
.header {
    padding: 10px 10px 10px 10px;
    //margin:x;
}
.logo {
    display: inline;
    &__link {
        font-size: 20px;
        padding: 10px;
        color: white;
        transition: all 0.3s linear;
        text-shadow: 4px 4px 8px black;
    }
    &__link:hover {
        //color: white;
        //text-decoration: none;
        //text-shadow: 4px 4px 4px white;
    }
}
.menu {

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    &__list {
        margin:0;
        padding:0;
        list-style: none;
        color: white;
        font-size: 25px;
        word-spacing: 5px;
        &_to-line{
       }
    }
    &__item {
        display:inline-block;
        position:relative;
        width: 120px ;
        margin: 35px auto 0 auto;
        height: 20px;


    }
    &__link {
        display: block;
        height: 50px;
        width: 100%;
        text-align : center;
        line-height: 50px;
        color:inherit;
        text-decoration: none;
        position: relative;
        &:before{
            content: attr(text);
            display:block;
            border-radius: 5%;
            position:absolute;
            top:0px;left:0px;right:0px;bottom:0px;
            height: 100%;
            width: 100%;
            background-color:#1b1e21;
            transform: rotateX(-270deg);
            transform-origin: top;
            transition: 0.5s;
            color:white;
        }

        &:hover:before {
            transform:rotateX(0deg);

        }
    }
}


// Block main
.main {
    padding: 10px;
}
.article {
    text-align: center;
    &__title {
        width: 1100px ;
        margin: 2px auto 80px auto;
        height: 50px;
        color: white;

        font-size: 22px;
        transition: all 0.4s linear;
        //&:hover {
        //    color: white;
        //    text-shadow: 2px 2px 10px white;
        //}
    }
    &__title1{
        text-align: center;
        width: 1100px ;
        margin: 2px auto 80px auto;
        height: 50px;
        color: white;

        font-size: 22px;
        transition: all 0.4s linear;
        //&:hover {
        //    color: white;
        //    text-shadow: 2px 2px 10px white;
        //}
    }
}



// Block footer
.footer {
    padding: 10px;
    &__copyright {
        display: block;
        text-align: center;
        margin: auto;
        transition: all 0.4s linear;
        &:hover {
           // transform: rotateZ(360deg);
        }
    }
}

.row {

}


footer {
    text-align: center;
    margin: 1px auto 30px auto;
    height: 144px;
}

.sidebar {
    box-shadow: 50px 5px 50px #a71d2a;//, inset 5px 5px 5px 5px #afa6a6ab;
    min-height: 10px;
    float: right;
    width: 220px;
    padding: 5%;
    margin: 0 0 16px 0;
    border-radius: 5px;
    color: white;
}
.form{
    border-radius: 20px;
    position: absolute;
    top: 40%;
    left: 40%;
    background: rgb(210,255,82);
    background: -moz-linear-gradient(top,  rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%);
    background: linear-gradient(to bottom,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 );

    text-align: center;
}

.input-form {
    margin: 15px 40px;
    text-align: center;
}

.input-form input{
    padding: 10px ;
    width: 50%;
    color: #000000;
    font-size:20px;
    border: 3px solid #171a1d;
}

.forget {
    padding: 10px ;
    width: 50%;
    color: #808080;
    font-size:20px;

}

.container{
    &__left{

        display: flex;
        flex-direction: column;
        text-align: center;
        width: 50%;
        min-height: 150px;
        max-height: 150px;
        background: rgb(249,84,95);
        background: -moz-linear-gradient(top,  rgba(249,84,95,1) 0%, rgba(255,26,0,1) 50%, rgba(252,98,116,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(249,84,95,1) 0%,rgba(255,26,0,1) 50%,rgba(252,98,116,1) 100%);
        background: linear-gradient(to bottom,  rgba(249,84,95,1) 0%,rgba(255,26,0,1) 50%,rgba(252,98,116,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9545f', endColorstr='#fc6274',GradientType=0 );
        float: left;
        justify-content: space-around ;
    }
    &__right{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 50%;
        min-height: 150px;
        background: rgb(208,228,247);
        background: -moz-linear-gradient(top,  rgba(208,228,247,1) 0%, rgba(115,177,231,1) 24%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
        background: linear-gradient(to bottom,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 );
        margin-left: 50%;
        justify-content: space-around;
    }


}
.block{
    &__color{
        color: white;
    }
    &__score{
        font-size: 70px;
        color:white;
        //text
    }
    &__name{
        // display: flex;
        color:white;
        //text-align: center;
        padding: 0px;
        // background: black;
    }
    &__total{
        display: flex;
        justify-content: center;
        background: grey;
        min-height: 20px;

    }

}
.container__total{
    background: grey;
    display: flex;
    justify-content: space-between;
}
.button{
    border:2px solid black;
   text-decoration: none;
   // text-overflow: initial;
    padding: 0 2rem;
    display:flex;
   // flex-direction:column;
    justify-content: center;
  //  text-align: center;
    //border-left: 0;
   // border-right: 0;
    border-radius: 11%;
    top:0px;left:0px;right:0px;bottom:0px;
    height: 20px;
    width: 80px;
    opacity: 60% ;
    background-color:#d39e00;
    transform-origin: top;
    transition: 0.5s;
    color:white;
}


table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}
th, td:first-child {
    background: -moz-linear-gradient(top,  rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%);
    background: linear-gradient(to bottom,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%);
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    background: -moz-linear-gradient(top,  rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%);
    background: linear-gradient(to bottom,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%);
}
td {
    background: -moz-linear-gradient(top,  rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%);
    background: linear-gradient(to bottom,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%);
}
th:first-child, td:first-child {
    text-align: left;
}
.glav {
    color: #80bdff;
    list-style: none;

}