@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
body {
   background: url('../img/spektr-1920x1080-linii-android-oboi-4k-5k-fioletoviy-fon-11331.jpg') ;
    height: 721px;
}

// Common
.container_shadow{
    box-shadow: 15px 10px 20px #422bff94;
    border-radius: 5px;
    min-height: 164px;

}

// Block header

.header {
    padding-bottom: 100px;
    background: transparent;
}
.logo {
    float: left;
    &__link {
        font-size: 20px;
        padding: 10px;
        color: black;
        transition: all 0.3s linear;
        text-shadow: 4px 4px 8px black;
    }
    &__link:hover {
    }
}

.row {
    margin-right: 10px;
}
.navbar-border{
    border:1px solid black;
    border-radius: 25px;
}


.menu {
    height: 5px;
    min-height: 10vh;
    float:right;
    &__list {
        margin:0;
        width: 400px;
        list-style: none;
        color: white;
        font-size: 25px;
        word-spacing: 5px;

    }
    &__item {
        display:inline-block;
        position:relative;
        width: 100px ;
        height: 62px;


    }


    &__link {

        margin-left: auto;
        margin-right: 0;
        display: block;
        height: 50px;
        width: 100%;
        text-align : center;
        line-height: 35px;
        color:inherit;
        text-decoration: none;
        position: relative;
        &:before{
            padding-top: 7px;
            text-align: center;
            content: attr(text);
            display:block;
            border-radius: 5%;
            position:absolute;
            top:0px;left:0px;right:0px;bottom:0px;
            height: 100%;
            width: 100%;
            background-color:#1b1e21;
            transform: rotateX(-270deg);
            transform-origin: top;
            transition: 0.5s;
            color:white;
        }

        &:hover:before {
            transform:rotateX(0deg);

        }
    }
}


// Block main

.main {
    margin-top: 100px;
    padding: 10px;

}
.article {
    text-align: center;
    &__title {
        width: 1100px ;
        margin: 2px auto 30px auto;
        height: 0px;
        color: white;
        font-size: 22px;
        transition: all 0.4s linear;

    }
    &__title1{
        text-align: center;
        width: 1100px ;
        margin: 2px auto 80px auto;
        height: 50px;
        color: white;

        font-size: 22px;
        transition: all 0.4s linear;
    }

}
.container{
    position: relative;
    //width: 100%;
    //height: 100%;
    &__left{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 50%;
        min-height:200px;
        background: rgb(249,84,95);
        background: -moz-linear-gradient(top,  rgba(249,84,95,1) 0%, rgba(255,26,0,1) 50%, rgba(252,98,116,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(249,84,95,1) 0%,rgba(255,26,0,1) 50%,rgba(252,98,116,1) 100%);
        background: linear-gradient(to bottom,  rgba(249,84,95,1) 0%,rgba(255,26,0,1) 50%,rgba(252,98,116,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9545f', endColorstr='#fc6274',GradientType=0 );
        justify-content: space-around ;
    }
    &__right{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 50%;
        background: rgb(208,228,247);
        background: -moz-linear-gradient(top,  rgba(208,228,247,1) 0%, rgba(115,177,231,1) 24%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
        background: linear-gradient(to bottom,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 );
        justify-content: space-around;
    }
    &__absolutetime{

        position: relative;
       height:100%;
        width:100%;
    }


}

.circle{
    padding-right: 2.6%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    &__circle1{
        margin-top: 1%;
        margin-left:auto ;
        margin-right: auto;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: yellow;
        box-shadow: 0px 2px 8px 2px;
    }

}

.time {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    &__timer {
        font-size: 25px;
        background: white;
    }

}


.container{
    height: 100%;
    .score-board {
        display: flex;
        &__color{
            color: white;
        }
        &__score{
            font-size: 90px;
            color:white;
        }
        &__name{
            color:white;
            padding: 0px;
        }
    }

    .button-bar {
        display: flex;
        justify-content: space-around;
        background: grey;
        min-height: 20px;
    }

    .button{
        border: 2px solid black;
        text-decoration: none;
        border-radius: 30px;
        opacity: 60%;
        background-color: #d39e00;
        transform-origin: top;
        transition: 0.5s;
        color: white;
    }

}





// Block footer
.footer {
    padding: 10px;
    &__copyright {
        display: block;
        text-align: center;
        margin: auto;
        transition: all 0.4s linear;
        &:hover {
        }
    }
}




footer {
    text-align: center;
    margin: 1px auto 30px auto;
    height: 144px;
}

.sidebar {
    box-shadow: 50px 5px 50px blue;//, inset 5px 5px 5px 5px #afa6a6ab;
    min-height: 10px;
    float: right;
    width: 220px;
    padding: 5%;
    margin: 0 0 16px 0;
    border-radius: 5px;
    color: white;
}
.form{
    position: absolute;
    width: 600px;
    height: 320px;
    border-radius: 20px;
    top: 30%;
    left:35%;
    text-align: center;
    border: 2px solid black;

}


.forget {
    padding: 10px ;
    width: 50%;
    color: #1b1e21;
    font-size:20px;

}

.input-wrapper{
    margin-top:15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: #000000 -5px -5px 11px;
    border-radius: 20px;
    width: 325px;
    height: 55px;
    display: flex;
    align-items: center;
}
.input-wrapper input{
    background: transparent;
    border:none;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-indent: 20px;
    color:black;
    font-size: 14px;
    outline:0;
}
.input-icon{
    width: 20px;
    margin-right: 20px;
    border-radius: 50px;
    padding: 3px 6px;
    cursor: pointer;
    transition: all .4s ease;
}
.input-icon .selected{
    background-color:#2d2d2d;
}
.input-icon img{
    max-width: 100%;
}
::-webkit-input-placeholder {
    color: #B2BECD;
}

.form-adding{
    position: absolute;
    border: 2px solid black;
    border-radius: 25px;
    width: 600px;
    height: 450px;
    top: 15%;
    left: 30%;
    text-align: center;
}

.h1-for-judges{
    text-shadow: 5px 5px 15px black;
    font-family: 'Orbitron', sans-serif;
}
.nav-mar-distatnce{
    display: flex;
    justify-content: space-between;
}